/*If adding css, please designate which file it belongs to by wrapping it in a comment block*/

/*search.php START*/
/*
body {
    margin: 0;
    padding: 0;
}

#wrapper, #form{
    width:100%;
    height:auto;
}

#search-container {
    text-align: center;
    width:500px;
    margin:0 auto;
}

#search-query {
    width: 20%;
    color: #888;
}

#zip-code {
    display: none;
}

#search-content{
    height:100px;
}

#wrapper{
    text-align:center;
    left:50%;
    position:absolute;
    width:1000px;
    min-height:700px;
    margin-left:-500px;
    overflow:hidden;
    padding:10px 0;
}
#search-specifiers-container{
    margin-left:100px;
    z-index:1;
    color:#EEEEEE;
}
#search-specifiers-container a, a:visited{
    color: rgb(181,0,0);
    text-decoration:none;
}

#search-specifiers-container li, .dropdown-menu{
    width:200px;
}   
#search-specifiers-container .caret{
    border-top-color: rgb(181,0,0);
    border-bottom-color: rgb(181,0,0);
}
.search-category{
    display:inline-block;
    border:none;
    font-size: 1.5em;
    font-family: "century gothic";
    padding-top: 5px;
    padding-bottom: 5px;
/*    -webkit-transition: 1s all ease-out;*/
}

#search-content {
    width:1000px;
    height:510px;
    margin:0 auto;
}

#search-results {
    /*height:400px;*/
    width:1000px;
    overflow:auto;
    background-color:#FFFFFF;
}

/*search.php END*/

/* volunteerInfo.php */

#quickSearch {
	float: left;
	min-width: 45%;
	/*max-height: 89px;*/
	margin-left: 5px;
	font-family: 'Lucida Grande';
	color: white;
}

#quickSearch p {
	margin: 0;
	font-size: 22px;
}

#quickSearch_submitButtons {
	display: inline-block;
	float: right;
}
	
.quickSearchButtons {
	min-width: 100px;
	display: inline-block;
	font-weight: 100;
	padding: 3px;
	margin: 0;
	font-family: helvetica;
	float: right;
	clear: right;
	background: #3c3c3c;
	color: white;
	text-align: center;
	cursor: pointer;
}

#quickSearch_form {
    visibility: hidden;
    display: inline-block;
    font-size: 12px;
}

#quickSearch_checkboxes {
    display: inline-block;
}

#quickSearch_selects {
    display: inline-block;
}

#quickSearch_selects select {
    font-size: xx-small;
    height: 20px;
}

#quickSearch_checkboxes input {
    margin-top: 0px !important;
}
